@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}

body {
  @apply bg-black text-white;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(163, 230, 53, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(163, 230, 53, 0.6);
}